oh-my-zsh:
  user:
    - name: vagrant
    - group: vagrant
    - home: /home/vagrant
  theme: nicoulaj
  disable-auto-update: false
  disable-update-prompt: true
  disable-untracked-files-dirty: true
  plugins: git rails ruby debian zsh-navigation-tools
